<b><i> Información de <%= @subject.name %> </i></b>


<table id="customers">
  <tr>
    <td>
      <b><p> Se imparte en los cursos: </p></b>
      <ul>
        <% @subject.courses.each do |course| %>
          <li><%= link_to course.secondary, course_path(course) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<table id="customers">
  <tr>
    <td>
      <b><p> Los profesores que la imparten son: </p></b>
      <ul>
        <% @subject.teachers.each do |teacher| %>
          <li><%= link_to teacher.name, teacher_path(teacher) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>


<button type="button" class="btn btn-success">  <%= link_to " Volver a la lista de asignaturas ", subjects_path %> </button>
<% if current_user&.admin? %>
  <button type="button" class="btn btn-warning"> <%= link_to "Editar asignatura ",  edit_subject_path(@subject) %> </button>
  <button type="button" class="btn btn-danger"> <%= link_to "Eliminar asignatura ", subject_path(@subject), method: :delete,
                                                            data: { confirm: "¿Estás seguro que quieres eliminar esta asignatura?"} %> </button>
<%end%>





