<%= render 'shared/errors', obj: @teacher %> <!-- aquí especifico quién es obj.-->

<!-- Hago un partial de edit y new -->

<%= form_for @teacher do |f| %>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput"> <b>Nombre del docente</b> </label>
      <%= f.text_field :name, class: 'form-control', placeholder: "Nombre del profesor" %>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput"> <b>Responsabilidad</b> </label>
      <%= f.text_field :responsibility, class: 'form-control',  placeholder: "Responsabilidad" %>
    </div>
    <p><b> Selecciona el Departamento al que pertenece </b></p>
    <div>
      <ul class="list-group">
        <li class="list-group-item"><%= f.select :department_id, options_from_collection_for_select(Department.all, :id, :name, @teacher.department_id) %><br></li>
      </ul>
    </div>
    <p><b> Selecciona los cursos a los que da clase </b></p>
    <div>
      <ul class="list-group">
        <li class="list-group-item"><%= f.collection_check_boxes :course_ids, Course.all, :id, :secondary %><br></li>
      </ul>
    </div>
    <p><b> Selecciona las asignaturas que imparte </b></p>
    <div>
      <ul class="list-group">
        <li class="list-group-item"><%= f.collection_check_boxes :subject_ids, Subject.all, :id, :name %><br></li>
      </ul>
    </div>
    <p><b> Selecciona su nombre de usuario </b></p>
    <div>
      <ul class="list-group">
        <li class="list-group-item"><%= f.select :user_id, options_from_collection_for_select(User.all, :id, :username, @teacher.user_id) %><br></li>
      </ul>
    </div>
    <!-- <button type="submit" class="btn btn-primary"> Añadir </button> -->
    <%= f.submit "Actualizar", class: "btn btn-primary" %>
  </form>
  <%= link_to " Volver a la lista de profesores ", teachers_path %>
<% end %>