<h1> Edita el nombre del profesor </h1>


<%= form_for @teacher do |f| %>

  <form>
    <div class="form-group">

      <%= f.label :Profesor %>
      <%= f.text_field :name %>
    </div>

    <!-- <button type="submit" class="btn btn-primary"> Añadir </button> -->
    <%= f.submit %>
  </form>

  <%= link_to " Volver a la lista de profesores ", teachers_path %>

<% end %>

