<b><i> Perfil de <%= @teacher.name %> </i></b>


<table>
  <tr>
    <td>
      <b><p> Imparte clase en: </p></b>
     <ul>
        <% @teacher.courses.each do |course| %>
           <li><%= link_to course.secondary, course_path(course) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <b><p> Imparte las asignaturas: </p></b>
      <ul>
        <% @teacher.subjects.each do |subject| %>
          <li><%= link_to subject.name, subject_path(subject) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>


<button type="button" class="btn btn-success"> <%= link_to " Volver a la lista de profesores ", teachers_path %> </button>
<button type="button" class="btn btn-warning">  <%= link_to "Editar perfil ",  edit_teacher_path(@teacher) %> </button>
<button type="button" class="btn btn-danger">  <%= link_to "Eliminar perfil ", teacher_path(@teacher), method: :delete,  data: { confirm: "¿Estás seguro que quieres eliminar este perfil?"}
                                                   %> </button>




