 <b><i>Profesores de <%= @course.secondary %> de la ESO </i></b>


  <table>
    <tr>
      <td>
        <ul>
          <%# distintos modos de mostrar los profesores asociados %>
          <%# @course.teachers.each do |teacher| %>
          <%#= teacher.name %>
          <%#= render teacher %>
          <%#= render partial: 'teacher', teacher: teacher, title: "My title" %>
          <%# end %>
          <%= render @course.teachers %>
        </ul>
      </td>
    </tr>
  </table>

 <b><i>Asignaturas de <%= @course.secondary %> de la ESO </i></b>

<!-- Voy a mostrar otra lista asociada usando un bucle para ver que se puede hacer tb así.-->
 <table>
   <tr>
     <td>
       <ul>
         <% @course.subjects.each do |subject| %>
           <li><%= link_to subject.name, subject_path(subject) %><br></li>
         <% end %>
       </ul>
     </td>
   </tr>
 </table>



 <p>
  <%= link_to " Volver a la lista de cursos ", courses_path %>
</p>