<!DOCTYPE html>
<html>
  <head>
    <title>Practica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- ahora voy a crear un render layouts/navegation para que este archivo sea lo más limpio posible y llevar el
    código hacia el nuevo archivo que voy a crear _navegation.html.erb -->
    <%= render 'layouts/navegation' %>

    <%= render 'layouts/messages' %>
    <!-- Añado el container que le va a dar un espacio a lo que aparece ALPHA BLOG en localhost:3000 -->
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
